---
layout: grid
title: "COMC Prizm Football Links"
permalink: /comc_prizm.html
---
<div class="container container-wide">
    {% for player in site.data.comc_prizm %}
    <div class="grid-item grid-item-wide">
        <ul class="list-unstyled">
            <li><strong>{{ player.player }}</strong></li>
            {% for link in player.links %}
            <li><a target="_blank" href="https://www.comc.com/{{ link.link_url }}">{{ link.link_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>