---
layout: bootstrap_grid1
title: eBay Searches
menu: none
permalink: /ebay.html
---

<div class="container">
    <div class="row row-cols-2 row-cols-md-5" data-masonry='{"percentPosition": true }'>
        {% for groups in site.data.ebay %}
        <div class="col g-4">
            <div class="card">
                <div class="card-header">{{ groups.group }}</div>
                <ul class="list-group list-group-flush">
                    {% for urls in groups.searches %}
                    <li class="list-group-item">
                        <a target="_blank" href="https://www.ebay.com/{{ urls.search_str }}">{{ urls.search_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
</div>