---
layout: bootstrap_grid1
title: Football Cards
menu: none
permalink: /football.html
---

<div class="container">
    <div class="row row-cols-2 row-cols-md-4" data-masonry='{"percentPosition": true }'>
        {% for player in site.data.football1 %}
        <div class="col g-4">
            <div class="card">
                <div class="card-header">{{ player.player }}</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        TCDb
                        <a href="https://www.tcdb.com/Person.cfm/pid/{{ player.pid }}/col/1/yea/0/{{ player.tcdb_str }}?PageIndex=1&Sort=DESC"
                            target="_blank">cards</a>
                        |
                        <a href="https://www.tcdb.com/ViewCollectionP.cfm/pid/{{ player.pid }}?MODE=Filters&ColType=1&sYear=0&sTeam=&sCardNum=&sNote=&sSetName=&sBrand="
                            target="_blank">filter</a>
                        |
                        <a href="https://www.tcdb.com/CollectionBrowseP.cfm/pid/{{ player.pid }}/{{ player.tcdb_str }}?Member=Rebels72&CollectionID=1&Filter=G"
                            target="_blank">coll</a>
                    </li>
                    <li class="list-group-item">
                        COMC
                        <a href="https://www.comc.com/Cards,sr,={{ player.comc_str }}" target="_blank">Newly Added</a>
                    </li>
                    <li class="list-group-item">
                        eBay
                        <a href="https://www.ebay.com/sch/261328/i.html?_from=R40&_nkw={{ player.ebay_str|cgi_escape }}&_sop=10"
                            target="_blank">n</a>
                        |
                        <a href="https://www.ebay.com/sch/261328/i.html?_from=R40&_nkw={{ player.ebay_str|cgi_escape }}&_sop=1"
                            target="_blank">e</a>
                        |
                        <a href="https://www.ebay.com/sch/i.html?LH_Auction=1&_nkw={{ player.ebay_str|cgi_escape }}&_sacat=261328&_sop=44"
                            target="_blank">b</a>
                        |
                        <a href="https://www.ebay.com/sch/i.html?_dcat=261328&_fsrp=1&rt=nc&_from=R40&_nkw={{ player.ebay_str|cgi_escape }}&_sacat=261328&_sop=10&Graded=Yes"
                            target="_blank">g</a>
                    </li>
                    {% for link in player.links %}
                    <li class="list-group-item">
                        <a target="_blank" href="{{ link.link_url }}">{{ link.link_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row row-cols-2 row-cols-md-4" data-masonry='{"percentPosition": true }'>
        {% for player in site.data.football2 %}
        <div class="col g-4">
            <div class="card">
                <div class="card-header">{{ player.player }}</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        TCDb
                        <a href="https://www.tcdb.com/Person.cfm/pid/{{ player.pid }}/col/1/yea/0/{{ player.tcdb_str }}?PageIndex=1&Sort=DESC"
                            target="_blank">cards</a>
                        |
                        <a href="https://www.tcdb.com/ViewCollectionP.cfm/pid/{{ player.pid }}?MODE=Filters&ColType=1&sYear=0&sTeam=&sCardNum=&sNote=&sSetName=&sBrand="
                            target="_blank">filter</a>
                        |
                        <a href="https://www.tcdb.com/CollectionBrowseP.cfm/pid/{{ player.pid }}/{{ player.tcdb_str }}?Member=Rebels72&CollectionID=1&Filter=G"
                            target="_blank">coll</a>
                    </li>
                    <li class="list-group-item">
                        COMC
                        <a href="https://www.comc.com/Cards,sr,={{ player.comc_str }}" target="_blank">Newly Added</a>
                    </li>
                    <li class="list-group-item">
                        eBay
                        <a href="https://www.ebay.com/sch/261328/i.html?_from=R40&_nkw={{ player.ebay_str|cgi_escape }}&_sop=10"
                            target="_blank">n</a>
                        |
                        <a href="https://www.ebay.com/sch/261328/i.html?_from=R40&_nkw={{ player.ebay_str|cgi_escape }}&_sop=1"
                            target="_blank">e</a>
                        |
                        <a href="https://www.ebay.com/sch/i.html?LH_Auction=1&_nkw={{ player.ebay_str|cgi_escape }}&_sacat=261328&_sop=44"
                            target="_blank">b</a>
                        |
                        <a href="https://www.ebay.com/sch/i.html?_dcat=261328&_fsrp=1&rt=nc&_from=R40&_nkw={{ player.ebay_str|cgi_escape }}&_sacat=261328&_sop=10&Graded=Yes"
                            target="_blank">g</a>
                    </li>
                    {% for link in player.links %}
                    <li class="list-group-item">
                        <a target="_blank" href="{{ link.link_url }}">{{ link.link_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
</div>