---
layout: grid
title: "Football Cards"
permalink: /football.html
---

<div class="container container-wide">
    <div class="grid">
        {% for player in site.data.football_players %}
        <div class="grid-item grid-item-wide">
            <ul class="list-unstyled">
                <li><a href="https://www.tcdb.com/ViewCollectionP.cfm/pid/{{ player.pid }}?MODE=Filters">Collection
                        Filter</a></li>
                <li><a
                        href="https://www.tcdb.com/CollectionBrowseP.cfm/pid/{{ player.pid }}/col/1/yea/0?Member=Rebels72&CollectionID=1">Collection
                        Haves</a></li>


                {% for search in player.searches %}
                <li><a href="https://www.ebay.com/sch/261328/i.html?_from=R40&_nkw={{ player.player_str | cgi_escape }}+{{ card.search_str | cgi_escape }}&_sop=10"
                        target="_blank">{{ search.search_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>