---
layout: bootstrap_grid
title: Ole Miss Players in the Pros
menu: none
permalink: /rebels_mlb.html
---

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <img src="assets/images/bb/swayze.png" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Rebels in the Majors</h1>
        </div>
    </div>
    <div class="row">
        {% for p in site.data.baseball-pros %}
        <div class="col-2">
            <div class="card">
                <img src=" {{ p.player.photo_path }}" class="card-img-top" />
                <div class="card-body">
                    <div class="card-title">
                        <strong>{{ p.player.name }}</strong>
                    </div>
                    <div class="card-text pb-2">
                        {{ p.player.team }}<br>
                        {{ p.player.drafted }}
                    </div>
                    <div class="card-text pb-1">
                        <div class="d-flex align-items-center">
                            <img src="assets/icons/mlb.svg" alt="Instagram" class="me-2" width="32" height="18">
                            <a href="https://www.mlb.com/player/{{ p.player.mlb_string}}" target="_blank">MLB.com</a>
                        </div>
                    </div>
                    <div class="card-text pb-1">
                        <div class="d-flex align-items-center">
                            <img src="assets/icons/br-logo.svg" alt="Instagram" class="me-2" width="32" height="18">
                            <a href="https://www.baseball-reference.com/players/{{ p.player.bb_ref_string}}.shtml"
                                target="_blank">Baseball Ref</a>
                        </div>
                    </div>
                    <div class="card-text pb-1">
                        <div class="d-flex align-items-center">
                            <img src="assets/icons/ebay_logo.svg" alt="Instagram" class="me-2" width="32" height="18">
                            <a href="https://www.ebay.com/sch/261328/i.html?_from=R40&_nkw={{ p.player.ebay_string|cgi_escape }}&_sop=10"
                                target="_blank">eBay New</a><br>
                        </div>
                    </div>
                    <div class="card-text pb-2">
                        <div class="d-flex align-items-center">
                            <img src="assets/icons/comc.svg" alt="Instagram" class="me-2" width="32" height="18">
                            <a href="https://www.comc.com/Cards,sr,={{ p.player.comc_string }}" target="_blank">COMC</a>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="d-flex align-items-center">
                            {% if p.player.instagram != "none" %}
                            <a href="https://www.instagram.com/{{ p.player.instagram }}/" alt="Instagram"
                                target="_blank"><img src="assets/icons/instagram.svg" alt="Instagram" class="me-2"
                                    width="20" height="20"></a>
                            {% endif %}
                            {% if p.player.twitter != "none" %}
                            <a href="http://www.x.com/{{ p.player.twitter }}"><img src="assets/icons/twitter-x.svg"
                                    alt="Twitter" class="me-2" width="20" height="20"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <hr class="mt-4 mb-2" />
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Rebels in the Minors</h1>
        </div>
    </div>
    <div class="row">
        {% for p in site.data.baseball-minors %}
        <div class="col-2">
            <div class="card">
                <img src=" {{ p.player.photo_path }}" class="card-img-top" />
                <div class="card-body">
                    <p class="card-title"><strong>{{ p.player.name }}</strong></p>
                    <p class="card-text">
                        {{ p.player.team }}<br>
                        {{ p.player.drafted }}
                    </p>
                    <p class="card-text">
                        <a href="https://www.milb.com/player/{{ p.player.mlb_string}}" target="_blank">MiLB.com</a><br>
                        <a href="https://www.baseballamerica.com/players/{{ p.player.ba_string}}/" target="_blank">BA
                            Scouting Report</a><br>
                        <a href="https://www.baseball-reference.com/register/player.fcgi?id={{ p.player.bb_ref_string }}"
                            target="_blank">Baseball
                            Reference</a><br>
                        {% if p.player.ebay_string != "none" %}
                        <a href="https://www.ebay.com/sch/261328/i.html?_from=R40&_nkw={{ p.player.ebay_string|cgi_escape }}&_sop=10"
                            target="_blank">eBay New</a><br>
                        {% endif %}
                        {% if p.player.comc_string != "none" %}
                        <a href="https://www.comc.com/Cards,sr,={{ p.player.comc_string }}" target="_blank">COMC New</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>