---
layout: bootstrap_grid1
title: Card Searches
menu: none
permalink: /search.html
---

<div class="container mx-auto">
    <div class="row row-cols-2 row-cols-md-4">
        {% for bookmark in site.data.search %}
        <div class="col g-4">
            <strong>{{ bookmark.player }}</strong><br />
            {% for link in bookmark.links %}
            <a target="_blank" href="{{ link.link_url }}">{{ link.link_name }}</a><br />
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>