---
layout: bootstrap_grid1
title: Start
menu: none
permalink: /start.html
---

<div class="container">
    <div class="row row-cols-2 row-cols-md-6">
        {% for bookmark in site.data.bookmarks %}
        <div class="col g-4">
            <div class="card">
                <div class="card-header">{{ bookmark.category }}</div>
                <ul class="list-group list-group-flush">
                    {% for link in bookmark.links %}
                    <li class="list-group-item"><a target="_blank" href="{{ link.link_url }}">{{
                            link.link_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>