body {
    background: #fff none;
    color: #14213d;
}

a:not([class]) {
    color: #006ba6;
    text-decoration: none;
}

a:not([class]):hover {
    color: #ce1126;
    text-decoration: underline;
}

.card-header {
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.list-group-item {
    padding: 0.25rem 0.5rem;
}

body.dark-mode {
    background: #021526 none;
    color: #fff;
}

body.dark-mode .card,
body.dark-mode ul li.list-group-item {
    background: #03346E none;
    color: #fff;
}

body.dark-mode .card-header {
    background: #6EACDA none;
    color: #03346E;
}

body.dark-mode a:not([class]) {
    color: #fff;
    text-decoration: none;
}

body.dark-mode a:not([class]):hover {
    color: #E2E2B6;
    text-decoration: underline;
}
