body {
    background: #2e2e2e none;
    margin-top: 10px;
    color: #6c99bb;
}

a:not([class]) {
    color: #d6d6d6;
    text-decoration: none;
}

a:not([class]):hover {
    color: #e5b567;
    text-decoration: underline;
}

ul li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

.list-unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto 0 auto;
}

.container-narrow {
    min-width: 640px;
    max-width: 1024px;
}

.container-wide {
    min-width: 800px;
    max-width: 1440px;
}

.grid-item {
    text-align: left;
    float: left;
    margin: 0 20px 20px 0;
}

.grid-item-narrow {
    width: 180px;
}

.grid-item-wide {
    width: 240px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}