---
# my custom css
---

@import "minima";

.rss-subscribe {
    display: none;
}

a:not([class]) {
    color: #006ba6;
    text-decoration: none;
}

a:not([class]):hover {
    color: #ce1126;
    text-decoration: underline;
}
