body {
    background: #f7f7f7 none;
    color: #14213D;
}

a:not([class]) {
    color: #006BA6;
    text-decoration: none;
}

a:not([class]):hover {
    color: #CE1126;
    text-decoration: underline;
}

.mono {
    font-family: "Cascadia Mono", Menlo, Monaco, "Courier New", monospace;
    font-size: 1.1rem;
    line-height: 1.5;
}