body {
    background: #f7f7f7 none;
    margin-top: 10px;
    color: #14213d;
}

a:not([class]) {
    color: #006ba6;
    text-decoration: none;
}

a:not([class]):hover {
    color: #ce1126;
    text-decoration: underline;
}

ul li {
    font-family: Hack, Menlo, Monaco, "Courier New", monospace;
    font-size: 16px;
    line-height: 24px;
}

.list-unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.container-narrow {
    min-width: 640px;
    max-width: 1024px;
}

.container-wide {
    min-width: 640px;
    max-width: 1440px;
}

hr.style1 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 0 0 40px 0;
    padding: 0;
}

.grid-item {
    text-align: left;
    float: left;
    margin: 0 20px 40px 0;
    padding: 0;
}

.grid-item-narrow {
    width: 180px;
}

.grid-item-wide {
    width: 300px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}