body {
    background: #f0f0f0 none;
    margin-top: 10px;
    color: #444;
}

a:not([class]) {
    color: #0066cc;
    text-decoration: none;
}

a:not([class]):hover {
    color: #cc6600;
    text-decoration: underline;
}

ul li {
    font-family: "Cascadia Mono", Menlo, Monaco, "Courier New", monospace;
    font-size: 1.1rem;
    line-height: 1.5;
}

.list-unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.container-narrow {
    min-width: 640px;
    max-width: 1024px;
}

.container-wide {
    min-width: 640px;
    max-width: 1440px;
}

.grid-item {
    border-left: 2px solid #cc6600;
    text-align: left;
    float: left;
    margin: 0 20px 20px 0;
    padding: 0 0 0 8px;
}

.grid-item-narrow {
    width: 180px;
}

.grid-item-wide {
    width: 300px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}