body {
    background: #2e2e2e none;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #6c99bb;
}

a:not([class]) {
    color: #d6d6d6;
    text-decoration: none;
}

a:not([class]):hover {
    color: #e5b567;
    text-decoration: underline;
}

.box {
    text-align: left;
    float: left;
    margin: 0 20px 10px 0;
    width: 180px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    margin: 0 10px 10px 0;
    width: 300px;
}