<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title | strip_html | xml_escape }}</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="links" />
    <meta name="description" content="links" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
    <div class="container" id="primary">
        {{ content }}
    </div>

    <script src="/assets/js/masonry.pkgd.min.js"></script>

    <script type="text/javascript">
        var container = document.querySelector('.grid');
        var msnry = new Masonry(container, {
            itemSelector: '.grid-item'
        });
    </script>
</body>

</html>